body {
	font-family: "Roboto Medium", sans-serif;
	color: #000;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 40px;
	margin: 0;
	padding: 0;
}
ul {
	margin: 0;
	padding: 0;
}
.clearfix::after{
	content:"";
	display: table;
	clear: both;
}
.main-header {
	background-color: #faf7f4;
	min-height: 330px;
}
.container{
	width: 900px;
	margin: 0 auto;
}
.welcome{
	width: 700px;
	margin: 0 auto;
}
.main{
	background-color: #faf7f4;
}
.column-four{
	float: left;
	width: 300px;
	margin: 0 10px;
}
.column-seven{
	float: left;
	width: 560px;
	margin: 0 10px;
}
.product-item{
	float: left;
	width: 240px;
}
.product-item:nth-child(2n){
	margin-left: 80px;
}
.slogan{
	width: 380px;
	margin: 0 10px;
}
.container-item{
    float: left;
	width: 240px;
	margin-right: 80px;
}
.container-item:nth-child(3n){
	margin-right: 0;
} 
.about-us{
	float: left;
	width: 620px;
}
.features{
	float: left;
	width: 240px;
	margin-left: 20px;
}